- model_class = Organizer
- title model_class.model_name.human.pluralize(:ru), :admin
.page-header
  %h1
    =t model_class.model_name.human.pluralize(:ru)
    = link_to "#{t 'helpers.links.new'}", new_admin_organizer_path, class: 'btn btn-primary'
  = render 'organizers_list', organizers: @organizers
  = link_to "#{t 'helpers.links.new'}", new_admin_organizer_path, class: 'btn btn-primary'
