- model_class = Page
- current_title = page_title(action, model_class.model_name.human)
- title current_title, :admin
.page-header
  %h1=t current_title
.row
  .col-lg-12
    = render 'layouts/web/admin/shared/errors', object: @page_form
.row
  .col-lg-12
    = simple_form_for [:admin, @page_form], input_html: { class: 'form-horizontal' } do |f|
      = f.input :title, as: :string
      = f.input :slug, as: :string
      = f.input :body
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')
      = link_to t('helpers.links.back'), admin_pages_path, class: 'btn btn-default'
