- model_class = Participant
- current_title = page_title(action, model_class.model_name.human)
- title current_title, :admin
.page-header
  %h1=t current_title
.row
  .col-lg-12
    = render 'layouts/web/admin/shared/errors', object: @participant_form
.row
  .col-lg-12
    = simple_form_for [:admin, @participant_form], input_html: { class: 'form-horizontal' } do |f|
      = f.input :last_name, as: :string
      = f.input :first_name, as: :string
      = f.input :patronymic, as: :string
      = f.input :birth_date, as: :date_picker
      = f.input :phone, as: :string
      = f.input :social_link, as: :string
      = f.input :region
      = f.input :municipality
      = f.input :locality
      = f.input :home_adress, as: :string
      = f.input :social_link, as: :string, placeholder: t('activerecord.attributes.participant.social_link'), label: false
      = f.input :email, as: :string, placeholder: t('activerecord.attributes.participant.email'), label: false
      = f.input :school, as: :string, placeholder: t('activerecord.attributes.participant.school'), label: false
      = f.input :reason
      = f.input :activity_line, as: :select, collection: enumerize_locales_hash(Participant, :activity_line)
      = f.input :another_line, as: :string, placeholder: t('activerecord.attributes.participant.another_line'), label: false
      = f.input :organization, placeholder: t('activerecord.attributes.participant.organization'), label: false
      = f.input :what_you_want, placeholder: t('activerecord.attributes.participant.what_you_want'), label: false
      = f.input :block, placeholder: t('activerecord.attributes.participant.block')
      = f.input :accept_agreement, as: :boolean
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')
      = link_to t('helpers.links.back'), admin_participants_path, class: 'btn btn-default'
