!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title
      = yield :title
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    .background#background_1
    .background#background_2
    .background#background_3
    .background#background_4
    .background-transparent-white
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              %h3.masthead-brand.link{ data: { href: root_path } }
                = image_tag 'main/dobro.png'
              %nav
                %ul.nav.masthead-nav
          .inner.cover
            = flash_messages
            = yield
          .mastfoot
            .inner
              %p
                = render 'layouts/web/shared/footer'
